/* main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 20%;
    left: 50%;

} */

/* body{
    background-image: url("outerspace-6.gif");
    background-size: cover;
} */